{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">  {{ bio.name }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Sex - {{ bio.sex }}</li>
        <li class="list-group-item">Age - {{ bio.age }}</li>
        <li class="list-group-item">Height (inches) - {{ bio.height }}</li>
        <li class="list-group-item">Weight (lbs) - {{ bio.weight }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{bio.id}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>
<form action="/delete/{{bio.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}